/* Sélectionne tous les éléments <p> de la page */
p {
    color: green;
}

/* Sélectionne tous les éléments <h4> de la page */
h4 {
    /* color: #b81cac; */
    color: rgb(184, 28, 172);
}

/* 
 * Classe CSS avec nom personnalisé que l'on applique nous même
 * sur les éléments de la page
 */
.ma_classe {
    border: 10px solid #000000;
}

/*
 * Classe CSS avec nom personnalisé que l'on applique sur
 * un seul élément de la page en cours
 */
#mon_id {
    color: blue;
}

#mon_id_2 {
    color:indigo;
}