body {
    margin: 25px 0;
}

header nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 95px;
}

header nav ul {
    display: inline-block;
    list-style-type: none;  
    align-content: center;
}

header nav ul li {
    display: inline;
    margin-top: 15px;
    margin-right: 20px;
    justify-content: space-between;
}

header nav ul li a {
    color: gray;
    text-decoration: none;
    font-size: 0,8rem;
}

header nav div:first-of-type ul {
    border-bottom: 1px solid ;
}

